/bin/
/include/
/lib/
/share/

/contrib/glib-2.44.1/
/contrib/glib-2.44.1.tar.xz
/contrib/libantlr3c-3.4/
/contrib/libantlr3c-3.4.tar.gz
/contrib/boost_1_58_0.tar.bz2
/contrib/boost_1_58_0/
/contrib/elfutils-0.163.tar.bz2
/contrib/libffi-3.2.1.tar.gz
/contrib/zlib-1.2.8.tar.gz
/contrib/elfutils-0.163/
/contrib/libffi-3.2.1/
/contrib/zlib-1.2.8/

/scripts/dynamic-list
/scripts/vmlinux

*.allocstubs.c
*.allocstubs.s
*.cil.c
*.cil.i
*.cil.s
*.cma
*.cmi
*.cmo
*.cmx
*.cmxs
*.i
*.i.allocs
*.o.fixuplog
*.swp

__pycache__/
*.py[cod]

.deps/
.libs/


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/m4/
/config.guess
/config.sub
/config.status
/config.log
/ltmain.sh
/libtool


# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.pc

# Dependencies
.*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Backup files
*~
\#*\#
.\#*

# WTF Dropbox

.fuse_hidden*
.nfs*
.dropbox*
